<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}" />
    <noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
</head>
<body>
    <form action="/login" method="post">
        <input type="text" name="username" id="username"/>
        <input type="password" name="password" id="password"/>
        <input type="submit" value="로그인" id="login"/>
    </form>
</body>
</html>